[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
character-set-server=utf8
collation-server=utf8_bin

max_allowed_packet=2048M
innodb_log_buffer_size=32M
innodb_log_file_size=2GB

query-cache-size = 8M
query-cache-type = 1
query_cache_limit = 8M

join-buffer-size = 8M
#table-cache = 1024
table-definition-cache = 1024

open-files-limit = 4096

# bind-address = 0.0.0.0

connect_timeout = 6000
net_read_timeout = 6000
net_write_timeout = 6000